body{
margin: 0;
padding: 0;
font-family: 'Girassol', cursive;
background: #002c46;
}

.box{
width: 300px;   

margin: -109px -185px auto;

top: 50%;
left: 50%;
position: absolute;
background: #191919;
font-size: 1rem;

padding: 40px;
display: flex;
align-items: center;
justify-content: center;
transform: translate(5%, -23%);

}

.form {
    display: block;
background: none;
margin: 20px auto;
border: 0;
text-align: center;
border: 2px solid #3498db;
padding: 17px 20px;
width: 200px;
border-radius: 24px;
color: white;
outline: none;
transition: 0.25s;
}

.box h1{
    display: flex ;
align-items: center;
justify-content: center;
margin: auto;
text-transform: uppercase;
color: white;
}

.form:hover{
width: 250px;
border-color: #2ecc71;

}
.button{
    display: block;
background: none;
margin: 20px auto;
border: 0;
text-align: center;
border: 2px solid #3498db;
padding: 17px 40px;
border: 2px solid  #2ecc71;
border-radius: 24px;
color: white;
outline: none;
transition: 0.25s;
cursor: pointer;

}

.button:hover{

    background-color: #2ecc71;
}



